<div id="Lookup_Form" class="forms">
    <form>
        <fieldset>
            <legend>Barcode CD Lookup</legend>
            <div class="form-group has-feedback row">
                <div class="col-lg-11">
                    <label for="barcode_lookup" class="control-label">Barcode</label>
                    <div class="input-group">
                        <span class="input-group-addon" title="Barcode"  data-icon="barcode">
                            <span class="glyphicon glyphicon-barcode"></span>
                        </span>
                        <input placeholder="Enter CD barcode" id="barcode_lookup" type="text" maxlength="15" value="" class="form-control validate" pattern="[0-9]{12,15}" data-error="Please enter a valid CD barcode. Max 15 digits." required />
                    </div>
                    <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                 </div>
                <div class="col-lg-1">
                    <input type="submit" class="btn btn-primary btn-default" value="LOOKUP &raquo;" title="Lookup CD via barcode" data-icon="search" />
                </div>
            </div>
        </fieldset>
    </form> 
 </div>
 <div id="CD_Form" class="forms">
        <form >
            <fieldset>
                <legend>CD Details <a class="btn btn-primary btn-sm close-cd pull-right" title="Close CD Details" data-icon="close">CLOSE</a></legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group has-feedback">
                            <label for="barcode" class="control-label">Barcode</label>
                            <div class="input-group">
                                <span class="input-group-addon" title="Barcode" data-icon="barcode">
                                    <span class="glyphicon glyphicon-barcode"></span>
                                </span>
                                <input readonly="readonly" placeholder="Enter CD barcode" id="barcode" type="text" maxlength="15" value="" class="form-control validate" pattern="[0-9]{12,15}" data-error="Please enter a valid CD barcode. Max 15 digits." required />
                            </div>
                            <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-feedback">
                            <label for="catno" class="control-label">Cat No</label>
                            <div class="input-group">
                                <span class="input-group-addon" title="Catalogue number" data-icon="catno">
                                    <span class="glyphicon glyphicon-book"></span>
                                </span>
                                <input placeholder="Enter catalogue number" id="catno" type="text" maxlength="30" value="" class="form-control validate" pattern="[0-9a-zA-Z\-\. ]{3,}" data-error="Alphanumeric, hyphens & spaces only. Min 3 Char, Max 30 Char." required />
                            </div>
                            <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-feedback">
                            <label for="year" class="control-label">Year</label>
                            <div class="input-group">
                                <span class="input-group-addon" title="Year released" data-icon="year">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input placeholder="Enter release year" id="year" type="text" maxlength="4" value="" class="form-control validate" pattern="[1]{1}[9]{1}[0-9]{2}|[2-9]{1}[0-9]{3}" data-error="Please enter a valid year" required />
                            </div>
                            <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="title" class="control-label">Title</label>
                    <div class="input-group">
                        <span class="input-group-addon" title="CD title" data-icon="title">
                            <span class="glyphicon glyphicon-headphones"></span>
                        </span>
                        <input placeholder="Enter CD title" id="title" type="text" maxlength="150" value="" class="form-control validate" pattern=".{3,}" data-error="Min 3 Char, Max 150 Char." required />
                    </div>
                    <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <label for="genres" class="control-label">Genres</label>
                            <div class="input-group">
                                <span class="input-group-addon" title="Music genres" data-icon="genres">
                                    <span class="glyphicon glyphicon-music"></span>
                                </span>
                                <input placeholder="Enter genre" id="Genres" type="text" data-name="genre" data-maxlength="50" data-minlength="3" value="" class="form-control validate tags" pattern=".{3,}" data-error="Min 3 Char, Max 50 Char." required data-required="true" />
                            </div>
                            <span class="glyphicon glyphicon-pencil form-control-feedback tags"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <label for="styles" class="control-label">Styles</label>
                            <div class="input-group">
                                <span class="input-group-addon" title="Music styles" data-icon="styles">
                                    <span class="glyphicon glyphicon-music"></span>
                                </span>
                                <input placeholder="Enter style" id="Styles" type="text" data-name="style" data-maxlength="50" data-minlength="3" value="" class="form-control validate tags" pattern=".{3,}" data-error="Min 3 Char, Max 50 Char." required data-required="true" />
                            </div>
                            <span class="glyphicon glyphicon-pencil form-control-feedback tags"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-feedback tags">
                            <label for="labels" class="control-label">Labels</label>
                            <div class="input-group">
                                <span class="input-group-addon" title="Record lables" data-icon="labels">
                                    <span class="glyphicon glyphicon-tags"></span>
                                </span>
                                <input placeholder="Enter label" id="Labels" type="text" data-name="label" data-maxlength="150" data-minlength="3" value="" class="form-control validate tags" pattern=".{3,}" data-error="Min 3 Char, Max 150 Char." required data-required="true" />
                            </div>
                            <span class="glyphicon glyphicon-pencil form-control-feedback tags"></span>
                        </div>
                        <div class="form-group btn-group-lg text-center">
                            <input type="submit" class="btn btn-success btn-lg" value="INSERT" title="Add CD to database"  data-fa="A" data-icon="add" />
                            <input type="submit" class="btn btn-warning btn-lg" value="UPDATE" title="Update CD in database" data-fa="U" data-icon="upd" />
                            <input type="submit" class="btn btn-danger btn-lg" value="DELETE" title="Delete CD from database" data-fa="D" data-icon="del" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
</div>
<div class="row">
    <div class="col-lg-12">
    <table class="table-bordered" id="CD_Library">
        <thead>
            <tr>
                <th>Barcode</th>
                <th>CatNo</th>
                <th>Title</th>
                <th>Year</th>
                <th>Genres</th>
                <th>Styles</th>
                <th>Labels</th>
            </tr>
        </thead>
    </table>
    </div>
</div>